<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="username" value="armin"/>
    <add key="password" value="niechzyje"/>
    <add key="hostname" value="ftp://localhost/" />
    <add key="port" value="21"/>
    <add key="" value="" />
  </appSettings>
</configuration>